/* Define o estilo para o corpo da página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Define o estilo para o cabeçalho */
header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Define o estilo para o formulário de login */
#login {
    margin: 50px auto;
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Define o estilo para os campos de entrada do formulário */
input[type="text"],
input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Define o estilo para o botão de login */
button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Define o estilo para o rodapé */
footer {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

